#data {
    background-color: ghostwhite;
}
#thingyy {
    background-color: ghostwhite;
}
#thingyyy {
    background-color: ghostwhite;
}
#List {
    background-color: ghostwhite;
    border: 3px solid black;
}